 $primaryFont: 'Times New Roman', Times, serif;
 $secondaryFont: 'Courier New', Courier, monospace;
 $fontColor: black;
 $fontSize: large;
 $fontWeight: 400;
 $italicFont: italic;

 $brightPink: #e643b8;
 
 $bgPosition: center;
 $bgRepeat: no-repeat;
 $bgSize: cover;
 $bgAttachement: fixed;

 $hfBackground: pink;

 $topnavFontSize: 17px;
